.InfoBlock {
  text-align: justify;
  font-size: 0.9rem;
}

.no-touch .InfoBlock a:hover {
  color: #3498db;
  text-decoration: underline;
}

.InfoBlock__img {}

@media only screen and (max-width: 52rem) {
  .InfoBlock__img {
    display: none;
  }
}