.Statement p {
  margin-bottom: 1rem;
}

.Statement ul {
  list-style-position: outside;
  margin: 0 3.75rem;
}

.Statement ul li {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 42rem) {
  .Statement ul {
    list-style-position: outside;
    margin: 0 2rem;
  }

  .Statement ul li {
    padding-left: 0.75rem;
    margin-bottom: 0.75rem;
  }
}