.HeroOverlay {
  position: absolute;
  background-color: rgba(249,241,220,.88);
  width: 50%;
  right: 28px;
  bottom: 30px;
  padding: 14px;
  box-sizing: border-box;
}

.HeroOverlay p {
  margin-bottom: .6em;
}

.HeroOverlay p:last-child {
  margin-bottom: 0;
}

/* Type-specific media queries. This is gross, as the sizing is manually
specified according to the content.
TODO: fix this to be more generic */
@media only screen and (max-width: 1050px) {
  .HeroOverlay__research {
    width: 93%;
    margin: 0 auto 0;
    right: 5px;
    left: 5px;
  }
}

/*  GO FULL WIDTH BELOW 820 PIXELS */
@media only screen and (max-width: 820px) {
  .HeroOverlay__research {
    position: relative;
    width: 100%;
    margin: 16px 0 0 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}