/* Wrapper for text */
.truncated-text__text {
  display: block;
  overflow: hidden;
  position: relative;
  transition: height .5s ease-out;
  height: auto;
  width: 100%;
  white-space: pre-line;
}
/* Entering text during an expandable transition */
.truncated-text__text-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
.truncated-text__text-enter-active {
  opacity: 1;
}

/* Leaving text during an expandable transition. */
.truncated-text__text-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.truncated-text__text-leave-active {
  opacity: 0;
}
.truncated-text__text--title {
  font-weight: bold;
}
.truncated-text__more-link {
  color: #3498db;
  text-decoration: none;
}
.truncated-text__more-link:hover {
  color: #3498db;
  text-decoration: underline;
  cursor: pointer;
}
.truncated-text__more-link:active {
  color: #3498db;
}