.About__summary {
  font-size: 0.8rem;
}

.About__summary img {
  width: 100%;
}

.About__summary__linkedin {
  text-align: center;
  color: #3498db;
  display: block;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.About__summary__linkedin:hover {
  color: #3498db;
  text-decoration: underline;
}

.About__summary__header {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  background-color: #EDEDED;
  padding: 2px 2px 2px 8px;
}

.About__summary__header:first-of-type {
  margin-top: 0;
}

.About__summary__title {
  font-weight: bold;
  margin-left: 9px;
  margin-top: 1rem;
}

.About__summary__title:first-of-type {
  margin-top: 0rem;
}

.About__summary__detail {
  font-style: italic;
  line-height: 1rem;
  margin-left: 9px;
}

.About__summary__detail:last-of-type {
  margin-bottom: 1rem;
}

.About__bio p {
  margin-bottom: 1rem;
}