body {
  padding: 2em;
  font-family: Helvetica, Arial;
  line-height: 1.4em;
  max-width: 980px;
  margin: 0 auto 0;
  /* Get rid of horizontal scrollbar because some elements use width: 100vw */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #3498db;
}

h3 {
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 1.375rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

h4 {
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  clear: both;
}

.inline-img {
  padding-bottom: 0.5rem;
}

.inline-img--left {
  float: left;
  padding-right: 1rem;
}

.inline-img--right {
  float: right;
  padding-left: 1rem;
}

.inline-img--center {
  display: block;
  text-align: center;
  max-width: 75%;
  margin: 0 auto 1rem;
}

.inline-img--portrait {
  max-width: 200px;
}

.inline-img--landscape {
  max-width: 250px;
}

@media only screen and (max-width: 42rem) {
  .inline-img {
    display: block;
    text-align: center;
    float: none;
    max-width: 100%;
    padding: 0.25rem 0 1rem 0;
  }
}