.CompositionRow {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.CompositionRow__title {
  font-size: 1.25rem;
}
.CompositionRow__year {}
.CompositionRow__subtitle {
  font-style: italic;
}
.CompositionRow__description {
  padding-top: 1rem;
}